* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #666c74;
}
h1 {
  color: rgb(18, 18, 33);
  font-style: italic;
}

.note {
  color: #cd0404;

  overflow: hidden;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.success {
  color: rgb(62, 235, 62);
  background: rgb(239, 243, 239);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.important {
  background-color: darkorange !important;
}
.important::before {
  content: '❗';
}
li {
  margin-top: 10px;
  font-size: 1.1rem;
}
span {
  font-size: 1.3rem;
}
.control {
  display: inline-block;
  margin-right: 10px;
}
