* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #666c74;
}
h1 {
  color: rgb(18, 18, 33);
  font-style: italic;
}

.note {
  color: #040404;
  padding-top: 5px;
  font-size: 15px;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.urgent {
  background-color: darkorange;
  border-radius: 5px;
  padding: 0px 2px 2px 2px;
}
span {
  font-size: 1.5rem;
}
